footer {
  margin-top: 1cm;
  height: 20vh;
  min-height: 1.1in;
  background-color: var(--shark);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-ct {
  text-transform: capitalize;
  color: var(--fireBush);
  text-decoration: none;
}

.copyright {
  align-self: flex-end;
}
